.app {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f3f4;
  padding: 10px;
  width: 400px;
}

/* Background colors */
.orange-background {
  background-color: #f08900;
}

.light-gray-background {
  background-color: #f3f3f4;
}

.gray-background {
  background-color: #a1a1a1;
}

/* Font colors */
.normal-font {
  color: rgb(0, 0, 0);
}

.gray-font {
  color: rgb(0, 0, 0, 0.6);
}

/* Outer Element */
.outer {
  width: 390px;
  background-color: white;
  box-shadow: 1px 1px #a1a1a1;
  border: 1px solid #a1a1a1;
  border-radius: 4px;
}

/* Main Sections */
.calendar {
  height: 130px;
  border-bottom: 1px solid #a1a1a1;
  padding: 15px;
}

.middle {
  height: 380px;
  padding: 15px 15px 0px 15px;
  border-top: 1px solid #a1a1a1;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.middle::-webkit-scrollbar {
  display: none;
}

.bottom {
  height: 50px;
  background-color: #f3f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

/* Calendar Elements */
.calendar-header {
  height: 20px;
}

.current-month {
  float: left;
  text-align: left;
  font-weight: bold;
}

.calendar-icon {
  float: right;
}

.day-panel {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  width: 100%;
  margin-top: 20px;
}

.day-card {
  text-align: center;
  height: 100px;
}

.day {
  font-size: 12px;
  margin-bottom: 10px;
}

.calendar-date {
  height: 30px;
  margin: 0px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: bold;
}

.selected-date {
  border: 1px solid #f08900;
  background-color: #f08900;
  color: white;
}

.current-date {
  border: 1px solid #f08900;
}

.hours-worked {
  margin-top: 8px;
  font-size: 12px;
}

.approval-state {
  margin-top: 5px;
  padding: 0px;
  font-size: 8px;
  font-weight: bold;
}

/* Middle Elements */
.middle-header {
  font-size: 14px;
  height: 40px;
  margin-top: 5px;
}

.today {
  float: left;
}

.full-date {
  float: left;
  margin-left: 7px;
}

.go-to-timesheet {
  border: none;
  background-color: transparent;
  padding: 0px;
  float: right;
  color: #f08900;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.hours-header,
.expenses-header,
.additional-hours-header {
  border: none;
  border-radius: 4px;
  background-color: #f3f3f4;
  height: 38px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 7px;
  font-size: 14px;
}

.hours-body,
.expenses-body,
.additional-hours-body {
  padding: 18px 5px;
  font-size: 12px;
  width: 100%;
}

.title {
  width: 100%;
  padding-left: 7px;
}

.hours-duration {
  color: #808080;
  width: 200px;
  text-align: right;
}

.table-header {
  color: rgb(0, 0, 0, 0.6);
}

.table-header-col {
  padding-bottom: 5px;
  padding-top: 0px;
}

.table-type {
  text-align: left;
  font-weight: normal;
}

.table-duration,
.table-total,
.table-amount {
  text-align: right;
  font-weight: normal;
}

.table-quantity {
  text-align: right;
  font-weight: normal;
}

/* Bottom Elements */
.button {
  border: none;
  border-radius: 4px;
  height: 35px;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: white;
  cursor: pointer;
  outline: none;
}

.tasks-rejected {
  color: red;
}

.tasks-approved {
  color: green;
}

.tasks-pending {
  color: grey;
}

.link {
  width: 100%;
}
